--markup markdown
--markup-provider kramdown
--main README.md
--output-dir doc
--protected
--private
--title "Prescient Documentation"
lib/**/*.rb
-
README.md
CHANGELOG.md
LICENSE.txt
INTEGRATION_GUIDE.md
VECTOR_SEARCH_GUIDE.md
